/*.table-outer-border {*/
/*    border-left: 1px solid grey;*/
/*    border-right: 1px solid grey;*/
/*    border-top: 1px solid grey;*/
/*    border-bottom: 1px solid grey;*/
/*}*/
.cenik-polozka {
    background-color: #bee5eb;
}

.cena-tabulka {
    width: 25%;
    text-align: right;
}